.app {
  height: 100vh;
  overflow: hidden;
}

.view {
  display: flex;
/*   overflow: auto;  */
  flex-direction: column;
  height: 90%;
  max-height: 100%;
  padding: 20px;
}

.card-top {
/*   padding: 20px;  */
  
margin-bottom: 20px;
}


.table-container {
  display: flex;
  /* margin-top: 20px; */
  flex-grow: 1;
  overflow: hidden;
}

.flex-table {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.flex-table > div {
  width: 100%;
}