VITE_PROXY_DIRS= '{"/static/demo": "/home/developer/workspace/demo/tailoringexpert-demo-www", "/assets/demo": "/home/developer/workspace/demo/tailoringexpert-demo-www/src/main/resources/demo", "/static/i18n/demo": "/home/developer/workspace/tailoringexpert-demo-www/i18n"}'
VITE_API_TARGET=http://localhost:8090

VITE_IDM_TARGET=http://devcontainer-demo-keycloak:8080
VITE_IDM_URL=http://localhost:3000/auth
VITE_IDM_REALM=tailoringexpert
VITE_IDM_CLIENT=tailoringexpert
