<v-container fluid>
    <v-overlay :value="wait">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>

    <ScreeningsheetDialog ref="screeningsheet"  max-width="75%" justify="center" />
    <SelectionvectorDialog ref="selectionvector"  max-width="75%" justify="center" />

    <v-row>
        <v-col cols="1">{{$t('project')}} :  {{ self }}</v-col>
        <v-col>{{project.name}}
            <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                    <v-icon small class="mr-2" v-on="on" v-bind="attrs"
                            @click="onOpenScreeningSheet(project._links.screeningsheet.href)">
                        mdi-card-account-details
                    </v-icon>
                </template>
                <span>{{$t('tooltip.screeningsheet_open')}}</span>
            </v-tooltip>
        </v-col>
    </v-row>
    <v-row>
        <v-col>
            <v-data-table :items="project.tailorings"
                          :headers="headers"
                          :items-per-page="20"
                          class="elevation-1">
                <template v-slot:top>
                    <v-toolbar flat color="white">
                        <v-toolbar-title>{{$t('tailoring', 2)}}</v-toolbar-title>
                        <v-divider class="mx-4" inset vertical></v-divider>
                        <v-btn
                                color="primary"
                                dark
                                class="mb-2"
                                @click="onTailoringNew()"
                        >{{$t('tailoring_new')}}
                        </v-btn>
                    </v-toolbar>
                </template>

                <template v-slot:item.name="{ item }">
                    <v-edit-dialog :return-value.sync="item.name"
                                   large
                                   persistent
                                   @open="onTailoringNameOpen(item)"
                                   @save="onTailoringNameSave(item)"
                                   @cancel="onTailoringNameCancel">
                        <div>{{ item.name }} <v-icon small class="mr-2">mdi-pencil</v-icon></div>
                        <template v-slot:input>
                            <v-text-field
                                    v-model="item.name"
                                    label="Edit"
                                    single-line
                                    counter
                                    autofocus>
                            </v-text-field>
                        </template>
                    </v-edit-dialog>
                </template>

                <template v-slot:item.state="{ item }">
                    <span @click="onTailoringState(item)">{{item.state}} <v-icon small class="mr-2">mdi-pencil-box-outline</v-icon></span>
                </template>

                <template v-slot:item.catalogVersion="{ item }">
                    <span @click="onBaseCatalogDownload(item)">{{item.catalogVersion}}  <v-icon small class="mr-2">mdi-download</v-icon></span>
                </template>

                <template v-slot:item.actions="{ item }">
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <v-icon small class="mr-2" v-on="on" v-bind="attrs"
                                    @click="onTailoringCatalogEdit(item)" :disabled="!isTailoringEditable(item)">mdi-pencil-box-outline
                            </v-icon>
                        </template>
                        <span>{{$t('tooltip.requirements_edit')}}</span>
                    </v-tooltip>
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <v-icon small class="mr-2" v-on="on" v-bind="attrs"
                                    @click="onDocumentOpen(item)">
                                mdi-download
                            </v-icon>
                        </template>
                        <span>{{$t('tooltip.document_open')}}</span>
                    </v-tooltip>
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <v-icon small class="mr-2" v-on="on" v-bind="attrs"
                                    @click="onTailoringCompare(item._links.compare.href)">mdi-vector-difference
                            </v-icon>
                        </template>
                        <span>{{$t('tooltip.tailoring_compare')}}</span>
                    </v-tooltip>
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <v-icon small class="mr-2" v-on="on" v-bind="attrs"
                                    @click="onOpenScreeningSheet(item._links.screeningsheet.href)">
                                mdi-card-account-details
                            </v-icon>
                        </template>
                        <span>{{$t('tooltip.screeningsheet_open')}}</span>
                    </v-tooltip>
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <v-icon small class="mr-2" v-on="on" v-bind="attrs"
                                    @click="onOpenSelectionVector(item._links.selectionvector.href)">
                                mdi-head-check-outline
                            </v-icon>
                        </template>
                        <span>{{$t('tooltip.selectionvector_open')}}</span>
                    </v-tooltip>
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <v-icon small class="mr-2" v-on="on" v-bind="attrs"
                                    @click="onAttachmentOpen(item)">mdi-paperclip
                            </v-icon>
                        </template>
                        <span>{{$t('tooltip.attachment_open')}}</span>
                    </v-tooltip>
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <v-icon small class="mr-2" v-on="on" v-bind="attrs"
                                    @click="onImportOpen(item)" :disabled="!isTailoringEditable(item)">mdi-microsoft-excel
                            </v-icon>
                        </template>
                        <span>{{$t('tooltip.requirement_import')}}</span>
                    </v-tooltip>

                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <v-icon small class="mr-2" v-on="on" v-bind="attrs"
                                    @click="onNotesOpen(item)">
                                mdi-message-bulleted
                            </v-icon>
                        </template>
                        <span>{{$t('tooltip.tailoring_notes')}}</span>
                    </v-tooltip>

                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <v-icon small class="mr-2" v-on="on" v-bind="attrs"
                                    @click="onTailoringDelete(item)" :disabled="!isTailoringDeletable(item)">
                                mdi-delete
                            </v-icon>
                        </template>
                        <span>{{$t('tooltip.tailoring_delete')}}</span>
                    </v-tooltip>

                </template>
            </v-data-table>

            <v-snackbar v-model="snack" :timeout="3000" :color="snackColor">
                {{ snackText }}
                <template v-slot:action="{ attrs }">
                    <v-btn v-bind="attrs" text @click="snack = false">{{$t('close')}}</v-btn>
                </template>
            </v-snackbar>
        </v-col>
    </v-row>
</v-container>
