<v-container fluid>
    <v-overlay :value="wait">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>

    <!-- dialog edit requirement -->
    <v-dialog v-if="isEdit"
              v-model="isEdit"
              persistent
              transition="dialog-bottom-transition"
              justify="center">
        <v-card>
            <v-toolbar dark color="primary">
                <v-btn icon dark @click="onEditCancel()">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>{{$tc('requirement_edit.title')}}</v-toolbar-title>
            </v-toolbar>

            <v-divider></v-divider>

            <v-card class="editor">
                <editor-menu-bar :editor="editor" v-slot="{ commands, isActive }">
                    <div class="menubar">
                        <div class="toolbar">
                            <v-btn icon @click="commands.undo">
                                <v-icon>mdi-undo</v-icon>
                            </v-btn>
                            <v-btn icon @click="commands.redo">
                                <v-icon>mdi-redo</v-icon>
                            </v-btn>
                            <v-btn icon @click="commands.bold" :class="{ 'is-active': isActive.bold() }">
                                <v-icon>mdi-format-bold</v-icon>
                            </v-btn>
                            <v-btn icon @click="commands.italic" :class="{ 'is-active': isActive.italic() }" dense>
                                <v-icon>mdi-format-italic</v-icon>
                            </v-btn>
                            <v-btn icon @click="commands.strike" :class="{ 'is-active': isActive.strike() }">
                                <v-icon>mdi-format-strikethrough</v-icon>
                            </v-btn>
                            <v-btn icon @click="commands.underline" :class="{ 'is-active': isActive.underline() }">
                                <v-icon>mdi-format-underline</v-icon>
                            </v-btn>
                            <v-btn icon @click="commands.code" :class="{ 'is-active': isActive.code() }">
                                <v-icon>mdi-code-tags</v-icon>
                            </v-btn>
                            <v-btn icon @click="commands.paragraph" :class="{ 'is-active': isActive.paragraph() }">
                                <v-icon>mdi-format-paragraph</v-icon>
                            </v-btn>
                            <v-btn icon @click="commands.heading({ level: 1 })"
                                   :class="{ 'is-active': isActive.heading({ level: 1 }) }">
                                <v-icon>mdi-format-header-1</v-icon>
                            </v-btn>
                            <v-btn icon @click="commands.heading({ level: 2 })"
                                   :class="{ 'is-active': isActive.heading({ level: 2 }) }">
                                <v-icon>mdi-format-header-2</v-icon>
                            </v-btn>
                            <v-btn icon @click="commands.heading({ level: 3 })"
                                   :class="{ 'is-active': isActive.heading({ level: 3 }) }">
                                <v-icon>mdi-format-header-3</v-icon>
                            </v-btn>
                            <v-btn icon @click="commands.bullet_list" :class="{ 'is-active': isActive.bullet_list() }">
                                <v-icon>mdi-format-list-bulleted</v-icon>
                            </v-btn>
                            <v-btn icon @click="commands.ordered_list"
                                   :class="{ 'is-active': isActive.ordered_list() }">
                                <v-icon>mdi-format-list-numbered</v-icon>
                            </v-btn>
                            <v-btn icon @click="commands.blockquote" :class="{ 'is-active': isActive.blockquote() }">
                                <v-icon>mdi-format-quote-close</v-icon>
                            </v-btn>


                            <v-btn icon @click="onImage(commands.image)">
                                <v-icon>mdi-image</v-icon>
                            </v-btn>



                            <v-btn icon @click="commands.code_block" :class="{ 'is-active': isActive.code_block() }">
                                <v-icon>mdi-code-tags</v-icon>
                            </v-btn>
                            <v-btn icon
                                   @click="commands.createTable({rowsCount: 3, colsCount: 3, withHeaderRow: false })">
                                <v-icon>mdi-table</v-icon>
                            </v-btn>
                            <span v-if="isActive.table()">
                                <v-btn icon @click="commands.deleteTable">
                                    <v-icon>mdi-table-remove</v-icon>
                                </v-btn>
                                <v-btn icon @click="commands.addColumnBefore">
                                    <v-icon>mdi-table-column-plus-before</v-icon>
                                </v-btn>
                                <v-btn icon @click="commands.addColumnAfter">
                                    <v-icon>mdi-table-column-plus-after</v-icon>
                                </v-btn>
                                <v-btn icon @click="commands.deleteColumn">
                                    <v-icon>mdi-table-column-remove</v-icon>
                                </v-btn>
                                <v-btn icon @click="commands.addRowBefore">
                                    <v-icon>mdi-table-row-plus-before</v-icon>
                                </v-btn>
                                <v-btn icon @click="commands.addRowAfter">
                                    <v-icon>mdi-table-row-plus-after</v-icon>
                                </v-btn>
                                <v-btn icon @click="commands.deleteRow">
                                    <v-icon>mdi-table-row-remove</v-icon>
                                </v-btn>
                                <v-btn icon @click="commands.toggleCellMerge">
                                    <v-icon>mdi-table-merge-cells</v-icon>
                                </v-btn>
                            </span>
                        </div>
                    </div>
                </editor-menu-bar>
                <v-card-text>
                    <editor-content class="editor__content" :editor="editor"></editor-content>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="onEditCancel">
                        {{$tc('requirement_edit.cancel')}}
                    </v-btn>
                    <v-btn color="blue darken-1" text @click="onRequirementSave">
                        {{$tc('requirement_edit.save')}}
                    </v-btn>
                </v-card-actions>
            </v-card>


        </v-card>
    </v-dialog>

    <v-card v-if="!isEdit">
        <v-card-title class="indigo white--text headline">{{$tc('requirements')}}</v-card-title>
        <v-sheet class="pa-4 primary lighten-2">
            <v-row>
                <v-col cols="4">
                    <v-text-field v-model="search"
                                  @input="handleSearch"
                                  flat
                                  solo-inverted
                                  hide-details
                                  clearable
                                  clear-icon="mdi-close-circle-outline">
                    </v-text-field>
                </v-col>
                <v-col cols="1">
                    <v-btn elevation="10" @click="onChapterRequirementsSelect(item, true)">
                        <v-icon>mdi-thumb-up-outline</v-icon>
                    </v-btn>
                    <v-btn elevation="10" @click="onChapterRequirementsSelect(item,false)">
                        <v-icon>mdi-thumb-down-outline</v-icon>
                    </v-btn>
                </v-col>
            </v-row>
        </v-sheet>

        <v-row class="pa-4" justify="space-around" align="start">
            <v-col cols="5">
                <v-treeview :items="catalog.toc.chapters"
                            item-text="chapterName"
                            item-key="number"
                            item-children="chapters"
                            return-object
                            ref="tree"
                            :search="search"
                            :open.sync="open"
                            selectionType="leaf"
                            activatable
                            @update:active="onChapterSelect">
                    <template v-slot:prepend="{ item }">
                        <v-icon v-if="!item.children">mdi-account</v-icon>
                    </template>
                </v-treeview>
            </v-col>

            <v-divider vertical></v-divider>

            <v-col>
                <v-breadcrumbs :items="breadcrumbs" divider="-"></v-breadcrumbs>
                <v-data-iterator :items="requirements" :hide-default-header="true">
                    <template slot="no-data">
                        <div style="visibility: hidden"></div>
                    </template>
                    <template v-slot:default="props">
                        <v-row v-for="item in props.items"
                               :key="item.text"
                               class="mb-6"
                               cols="12"
                               sm="6"
                               md="4"
                               lg="3"
                               justify="space-around">
                            <v-card min-width="90%" max-width="90%" elevation="15">
                                <v-card-title class="subheading font-weight-bold">
                                    <v-row align="center" no-gutters>
                                        <v-col>
                                            {{item.position}}<span v-if="item.changed"> ({{$tc('changed')}})</span>
                                        </v-col>
                                        <v-col cols="auto">
                                            <v-tooltip bottom>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <div v-on="on" v-bind="attrs" style="width:min-content;">
                                                        <v-switch v-model="item.selected"
                                                                  inset
                                                                  color="green"
                                                                  @click="onRequirementSelect(item)">
                                                        </v-switch>
                                                    </div>
                                                </template>
                                                <span>{{$tc('tooltip.applicabilty_change')}}</span>
                                            </v-tooltip>
                                        </v-col>
                                    </v-row>
                                </v-card-title>
                                <v-card-subtitle>
                                    <span v-if="item.reference != null">{{item.reference}}</span>
                                </v-card-subtitle>
                                <v-divider></v-divider>

                                <v-list class="text-xs-left">
                                    <v-list-item>
                                        <v-list-item-content v-html="item.text" justify="start"></v-list-item-content>
                                    </v-list-item>
                                </v-list>
                                <v-card-actions>
                                    <v-row justify="end">
                                        <v-tooltip bottom>
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-btn v-on="on" v-bind="attrs"
                                                       @click="onRequirementEdit(item)"
                                                       class="mx-2"
                                                       fab
                                                       dark
                                                       color="cyan"
                                                       small>
                                                    <v-icon dark> mdi-pencil</v-icon>
                                                </v-btn>
                                            </template>
                                            <span>{{$tc('tooltip.requirement_edit')}}</span>
                                        </v-tooltip>
                                        <v-tooltip bottom>
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-btn v-on="on" v-bind="attrs"
                                                       @click="onRequirementNew(item)"
                                                       class="mx-2"
                                                       fab
                                                       dark
                                                       small
                                                       color="indigo">
                                                    <v-icon dark> mdi-plus</v-icon>
                                                </v-btn>
                                            </template>
                                            <span>{{$tc('tooltip.requirement_create')}}</span>
                                        </v-tooltip>
                                    </v-row>
                                </v-card-actions>
                            </v-card>
                        </v-row>
                    </template>
                </v-data-iterator>
            </v-col>
        </v-row>
    </v-card>
</v-container>


