<div>
    <v-overlay :value="wait">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>

    <v-stepper v-model="e1">
        <v-stepper-header>
            <v-stepper-step step="1" :complete="e1 > 1 && catalog!= undefined">
                {{$tc('catalog')}}
            </v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="2" :complete="e1 > 2 && screeningSheet != undefined">
                {{$tc('screeningsheet')}}
            </v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="3" :complete="e1 > 3 && selectionVectorParameter != undefined">
                {{$tc('selectionvector')}}
            </v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="4">
                {{$tc('summary')}}
            </v-stepper-step>
        </v-stepper-header>

        <v-stepper-items>
            <v-stepper-content step="1">
                <v-container>
                    <v-row no-gutters justify="center" align="center">
                        <v-select v-model="catalog"
                                  :items="catalogs"
                                  item-text="version"
                                  item-value="catalog"
                                  label="Version auswählen">
                        </v-select>
                    </v-row>
                    <v-row>
                        <v-textarea
                                clearable
                                counter
                                clear-icon="mdi-close-circle"
                                label="Text">
                        </v-textarea>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="primary" @click="e1 = 2">{{$tc('next')}}</v-btn>
                            </v-card-actions>
                        </v-col>
                    </v-row>
                </v-container>
            </v-stepper-content>

            <v-stepper-content step="2">
                <v-container>
                    <v-row no-gutters justify="center" align="center">
                        <v-col cols="8">
                            <v-file-input
                                    show-size
                                    label="File input"
                                    accept="application/pdf"
                                    @change="onScreeningSheetSelect">
                            </v-file-input>
                        </v-col>

                        <v-col cols="4" class="pl-2">
                            <v-btn
                                    color="success"
                                    dark
                                    small
                                    @click="onScreeningSheetUpload"
                            >Upload
                                <v-icon right dark>mdi-cloud-upload</v-icon>
                            </v-btn>
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col>
                            <v-data-table
                                    :headers="screeningSheetParameterHeader"
                                    :items="screeningSheet.parameters"
                                    class="elevation-1"
                            >
                            </v-data-table>
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col>
                            <v-card-actions>
                                <v-btn @click="e1 = 1">
                                    {{$tc('back')}}
                                </v-btn>
                                <v-spacer></v-spacer>
                                <v-btn color="primary" @click="e1 = 3">
                                    {{$tc('next')}}
                                </v-btn>
                            </v-card-actions>
                        </v-col>
                    </v-row>
                </v-container>
            </v-stepper-content>

            <v-stepper-content step="3">
                <v-container>
                    <v-row>
                        <v-col col="1">{{$tc('project')}}</v-col>
                        <v-col>{{project}}</v-col>
                    </v-row>
                    <v-row cols="12">
                        <v-col>
                            <v-data-table
                                    :headers="selectionVectorHeader"
                                    :items="selectionVectorParameter"
                                    class="elevation-1"
                            >
                                <template v-slot:header.value="{ header }">
                                    <v-select dense v-model="profile" full-width :items="profiles" item-text="name" return-object label="Profile" @change="onSelectionVectorProfileSelect"/>
                                </template>

                                <template v-slot:item.value="props">
                                    <v-edit-dialog
                                            :return-value.sync="props.item.value"
                                            large
                                            persistent
                                            @save="onSelectionVectorEditSave"
                                            @cancel="onSelectionVectorEditCancel"
                                    >
                                        <div>{{ props.item.value }}</div>
                                        <template v-slot:input>
                                            <div class="mt-4 title">{{ props.item.label }}</div>
                                            <v-text-field
                                                    v-model="props.item.value"
                                                    label="Edit"
                                                    single-line
                                                    counter
                                                    autofocus
                                            ></v-text-field>
                                        </template>
                                    </v-edit-dialog>
                                </template>
                            </v-data-table>

                            <v-snackbar v-model="snack" :timeout="3000" :color="snackColor">
                                {{ snackText }}
                                <template v-slot:action="{ attrs }">
                                    <v-btn v-bind="attrs" text @click="snack = false">
                                        {{$tc('close')}}
                                    </v-btn>
                                </template>
                            </v-snackbar>
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col>
                            <v-card-actions>
                                <v-btn @click="e1 = 2">
                                    {{$tc('back')}}
                                </v-btn>
                                <v-spacer></v-spacer>
                                <v-btn color="primary" @click="e1 = 4; onSummary()">
                                    {{$tc('next')}}
                                </v-btn>
                            </v-card-actions>
                        </v-col>
                    </v-row>
                </v-container>
            </v-stepper-content>

            <v-stepper-content step="4">
                <v-container>
                    <v-row>
                        <v-col col="1">{{$tc('project')}}</v-col>
                        <v-col>{{project}}</v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-card>
                                <v-card-title>
                                    {{$tc('selectionvector_comparison')}}
                                </v-card-title>
                                <v-data-table
                                        :headers="selectionVectorParameterComparisonHeader"
                                        :items="selectionVectorParameterComparison"
                                        class="elevation-1"
                                >
                                </v-data-table>
                            </v-card>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-card-actions>
                                <v-btn @click="e1 = 3">
                                    {{$tc('back')}}
                                </v-btn>
                                <v-spacer></v-spacer>
                                <v-btn color="primary" @click="onProjectCreate">{{$tc('project_create')}}</v-btn>
                            </v-card-actions>
                        </v-col>
                    </v-row>
                </v-container>
            </v-stepper-content>
        </v-stepper-items>
    </v-stepper>
</div>