<v-data-table
    :headers="headers"
    :items="projects"
    :items-per-page="20"
    class="elevation-1"
>
    <template v-slot:top>
        <v-toolbar flat color="white">
            <v-toolbar-title>{{ $t("project", 2) }}</v-toolbar-title>
            <v-divider class="mx-4" inset vertical></v-divider>
            <v-btn
                color="primary"
                dark
                class="mb-2"
                @click="onNewProject()"
            >{{ $t("project_new") }}</v-btn
            >
        </v-toolbar>
    </template>

    <template v-slot:header.state>
        <v-container>
            <v-select
                label="State"
                :items="['', 'ONGOING', 'COMPLETED']"
                v-model="state"
                dense
                light
            >
            </v-select>
        </v-container>
    </template>
    <template v-slot:item.actions="{ item }">
        <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
                <v-icon
                    small
                    class="mr-2"
                    v-bind="attrs"
                    v-on="on"
                    @click="onProjectEdit(item)"
                >mdi-pencil</v-icon
                >
            </template>
            <span>{{ $t("tooltip.project_edit") }}</span>
        </v-tooltip>
        <v-tooltip bottom>
            <template>
            <div class="text-center pa-4">
              <v-btn @click="dialog = true">
                Open Dialog
              </v-btn>
          
              <v-dialog
                v-model="dialog"
                width="auto"
              >
                <v-card
                  max-width="400"
                  prepend-icon="mdi-update"
                  text="Your application will relaunch automatically after the update is complete."
                  title="Update in progress"
                >
                  <template v-slot:actions>
                    <v-btn
                      class="ms-auto"
                      text="Ok"
                      @click="dialog = false"
                    ></v-btn>
                  </template>
                </v-card>
              </v-dialog>
            </div>
          </template>

            
            <template v-slot:activator="{ on, attrs }">
                <v-icon
                    small
                    class="mr-2"
                    v-bind="attrs"
                    v-on="on"
                    @click="onProjectDelete(item)"
                >mdi-delete</v-icon
                >
            </template>
            <span>{{ $t("tooltip.project_delete") }}</span>
        </v-tooltip>
    </template>
</v-data-table>
